.NavBar {
  background-color: black;
}

.NavBarGrid {
  margin-left: auto;
}

.NavBarLink {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.CompanyLogo {
  padding: 10px;
  width: 100px;
}